.contentDiv {
	padding: 0px 2px 5px 10px;
    width: 75%;
    margin: auto;
}

.title {
	text-align: center;
    font-family: 'Oswald';
}

body {
    color: #262228;
    background: #CAFEFA;
}

.name {
	text-align: center;
	margin-top: 35px;
    font-family: 'Oswald';
    color: #262228;
}

.icons {
    padding-top: 5px;
    padding-bottom: 20px;
	display: block;
    text-align: center;
	width: 100%;
	margin: 0 auto;
}

p {
    font-family: 'Lato';
    text-align: justify;

}

.fa {
    color: #262228;
    font-size: 20px;
    padding-right: 10px;
}

#me {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
    border: solid 2px black;
}

#barsDiv {
    height: 30px;
}

#bars {

    color: #262228;
    position: absolute;
    top: 10px;
    left: 280px;
    transition: 0.5s;
    font-size: 30px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
/*    background-color: #86592d;*/
    background: #FC4445;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.links {
    padding-bottom: 8px;
    text-align: center;
    font-size: 20px;
    color: #262228; /* Evening */
    display: block;
    transition: 0.3s;
    font-family: 'Oswald';

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	margin-left: 250px;
    transition: margin-left .5s;
}

#copyright {
    text-align: center;
    font-family: "Lato";


}

/* On smaller screens, where height is between 350-667 pixels, change the style of the sidenav and main divs */
@media only screen and (min-device-width : 350px) 
and (max-device-width : 667px) { 
    #main {
        width: 100%;
        margin-left: 0px;
    }
    .sidenav {
        width: 0%;
    }
    #bars {
        left: 30px;
        top: 10px;
    
    }
}