body {
  background-color: #ffffff;
  color: #45405a;
  margin: 0px 80px;
  font-family: 'Baloo Tamma 2', cursive;
}

header {
  padding: 20px 0;
  display: flex;
  font-weight: 500;
  justify-content: flex-end;
}

.nav-link {
  margin: 0 15px;
  color: #8b0000;
  cursor: pointer;
  text-decoration: none;
}

main {
  margin-top: 20px;
}

h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
}

h2 span {
  color: #8b0000;
}

h6 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #45405a;
}

p {
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
}

.content {
  width: 100%;
  height: 450px;
  display: flex;
}

.image img {
  width: 60%;
  height: 70%;
}

.image {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.text-content {
  height: 100%;
  margin: 0;
  width: 60%;
  display: flex;
  align-items: flex-start;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

.experience {
  width: 50%;
  height: 100%;
}

.skills {
  width: 50%;
}

.experience-dates {
  font-size: 10px;
}

.experience-div {
  margin-bottom: 15px;
}

.experience-title {
  font-size: 18px;
  font-weight: 500;
}

.experience-organization {
  font-size: 15px;
}

.skill {
  display: inline-block;
  min-width: 25%;
  margin: 10px 5px;
  padding: 6px;
  text-align: center;
  font-size: 11px;
  border-radius: 30px;
  background-color: #dcdcdc;
}

footer {
  margin: 20px 0px;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  color: #8b0000;
  justify-content: space-between;
}

.social {
  color: #8b0000;
  text-decoration: none;
  margin: 0 5px;
}

.resume {
  display: none;
}

@media (max-width: 780px) {
  .image {
    display: none;
  }
  .text-content {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 450px) {
  .image {
    display: none;
  }
  .text-content,
  .experience,
  .skills {
    width: 100%;
    display: block;
  }

  .content {
    height: 100%;
  }

  footer {
    display: block;
    text-align: center;
  }

  main {
    margin-top: 0px;
  }

  .nav-link {
    display: none;
  }

  .resume {
    display: block;
  }
}
